.orders_card{
    text-decoration: none;
    color: #000;
    background: #00000034;
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}