.order_table td,
.order_table th {
    text-align: center;
}
.more_td svg {
    width: 100%;
}
.more_td {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    &:hover {
        background: #49bfff;
        svg {
            filter: drop-shadow(0px 0px 1px #1facf3);
            fill: #fff !important;
            stroke: #fff !important;
            scale: 1.3;
        }
    }
}
#p {
    width: 10%;
}
#username {
    /* width: 32%; */
}
.detail_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 3px;
        border-radius: 30px;
        background: #00000016;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background: #00000016;
    }
}
.detail_items .detail_item {
    display: flex;
    align-items: center;
    gap: 10px;
    & h4,
    h2 {
        width: 160px;
    }
    & button {
        background: #1facf3;
        color: #fff;
        padding: 5px 20px;
        border: none;
        border-radius: 5px;
        margin-left: 370px;
        cursor: pointer;
    }
    & p {   
        text-wrap: nowrap;
    }
}

.detail_items .detail_item img {
    width: 20px;
}
.product_items {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 10px !important;
    padding: 20px;
}
.product_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background: #00000015;

    & img {
        width: 50px;
    }
    & div,
    p {
        width: 100%;
        text-align: right;
    }
}
.product_item .image_div {
    display: flex;
    align-items: center;
    gap: 5px;
}
.slote_h4 {
    width: 80px !important;
    margin-left: 130px;
}
.instructions__items {
    display: flex;
    gap: 10px;
}
.instructions__items #head {
    width: 160px;
}
.instructions__items .instructions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.instructions__items .instructions div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.note_div {
    width: 290%;
}

.change_btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    height: 100%;
    gap: 10px;
}
.change_btns button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    &:hover {
        color: #fff;
        background: #1facf3;
    }
}
